<h1>Find nearby events</h1>
 
<%= form_tag('/events', method: :get) do %>
	Address: <%= text_field_tag :address %><br /><br />
	Radius: <%= text_field_tag :radius %><br /><br />

	<%= button_tag :Find %>
<% end %>