<h1>About</h1>
 
<p>Our goal here at Smashlistings is to bring the community together in a convenient and simple fashion.
 Typically Smashfests/Tournaments have been organized through cluttered and archaic systems.
 By having an efficent way to find people in your local smash communtiy we hope to both expand and unite the smash scene.</p>