<!DOCTYPE html>
<html>
<head>
  <title>SmashListings</title>
  <%= render "layouts/partials/shim" %>
</head>
<body>
	
	<%= render "layouts/partials/header" %>
	<%= yield %>
	<%= render "layouts/partials/footer" %>

</body>
</html>
