<!DOCTYPE html>
<html>
<head>
  <title>SmashListings</title>
  <%= render "layouts/partials/shim" %>
</head>
<body>
	
	<%= render "layouts/partials/header" %>
	<div class="container main-con">
		<%= yield %>
	</div>
	<%= render "layouts/partials/footer" %>

</body>
</html>
